# Servidor
PORT=8084
HOST=localhost

# Banco de dados
DATABASE_URL_EVENT=postgresql://user:password@localhost:5432/event_service

# Chave de API do Mapbox (opcional — só para usar o Mapbox)
MAPBOX_ACCESS_TOKEN=

# AuthService
AUTH_SERVICE_URL_DEV=http://localhost:8082
AUTH_SERVICE_URL_PROD=

# UserService
USER_SERVICE_URL_DEV=http://localhost:8081
USER_SERVICE_URL_PROD=

# Caminho para os repositórios de teste (opcional — só para usar versões locais em vez de puxar do GitHub)
AUTH_MOCK_GIT=
USER_MOCK_GIT=
API_TESTS_GIT=

# Ativar mocks (opcional — para ativar envio de x-mock-scenario ao AuthService e EmailService)
ACTIVE_MOCK=true